<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div id = "navbar">
      <div id = "nav-tweak">
        <div id = "tree-info">
          <h3 id = "tree-info-title">Tree Title Here</h3>
          <p id = "tree-info-creator">by a Tree Enthusiast</p>
        </div>
        <div id = "tree-settings">
          <div class = "button-and-dropdown">
            <button onclick = "loadDropdown(this)" id = "file-button" data-dropdown = "file-dropdown">File</button>
            <ul id = "file-dropdown">
              <li><p>Elem 1</p></li>
              <li><p>Elem 2</p></li>
              <li><p>Elem 3</p></li>
            </ul>
          </div>
          <div class = "button-and-dropdown">
            <button onclick = "loadDropdown(this)" id = "views-button" data-dropdown = "views-dropdown">Views</button>
            <ul id = "views-dropdown">
              <li><p>Elem 1</p></li>
              <li><p>Elem 2</p></li>
              <li><p>Elem 3</p></li>
            </ul>
          </div>
          <div class = "button-and-dropdown">
            <button onclick = "loadDropdown(this)" id = "update-button" data-dropdown = "update-dropdown">Update</button>
            <ul id = "update-dropdown">
              <li><p>Elem 1</p></li>
              <li><p>Elem 2</p></li>
              <li><p>Elem 3</p></li>
            </ul>
          </div>
          <div class = "button-and-dropdown">
            <button onclick = "loadDropdown(this)" id = "config-button" data-dropdown = "config-dropdown">Config</button>
            <ul id = "config-dropdown">
              <li><p>Elem 1</p></li>
              <li><p>Elem 2</p></li>
              <li><p>Elem 3</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id = "notif-centre-box">
      <h1>Tree Visualization Project</h1>
      <p>While there's nothing here at the moment, this page will hopefully one day sprout into a way for people to explore trees' intracacies for study and for pleasure.</p>
    </div>
  </body>
</html>
