<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/errorpage.css"/>
  </head>
  <body>
    <div class = "centre-box">
      <h1>Invalid Credentials</h1>
      <p>The username and password you inputted do not match any of our records.</p>
      <p><a href = '/tree'>Back to Tree Growing</a>.</p>
      <p><a href = '/'>Return to Homepage</a>.</p>
    </div>
  </body>
</html>
