<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/notifs.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/actionboxes.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/navbar.js"></script>
    <script type="text/javascript" src="/scripts/filebuttons.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
