<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <link rel="stylesheet" type="text/css" href="stylesheets/notifs.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/navbar.css"/>
    <script type="text/javascript" src="scripts/navbar.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
