<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>Logged in!</h1>
    <p>Return to<a href = '/'>homepage</a>.<p>
  </body>
</html>
