<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>Something went wrong!</h1>
    <p>Probably refreshed the page, pressed the back button, or something. Either way, this shouldn't have happened, so make your way back to the <a href = '/'>homepage</a>.<p>
  </body>
</html>
