<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>Something went wrong!</h1>
    <p>Probably refreshed the page, pressed the back button, or something.</p>
    <p>Either way, this shouldn't have happened.</p>
    <p><a href = 'javascript:history.go(-1)'>Return to Last Page Visited</a>.</p>
    <p><a href = '/'>Return to Homepage</a>.</p>
  </body>
</html>
