<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/errorpage.css"/>
  </head>
  <body>
    <div class = "centre-box">
      <h1>Could Not Save Tree</h1>
      <p>This error occurred because you either attempted to save a tree that didn't exist or you tried to save a tree that wasn't yours.</p>
      <% if @treedelete != nil %>
        <p><a href = '/tree/<%=@treesave.id_str%>'>Return to Tree</a>.</p>
      <% else %>
        <p><a href = '/tree'>Return to Tree Growing</a>.</p>
      <% end %>
      <p><a href = '/'>Return to Homepage</a>.</p>
    </div>
  </body>
</html>
