#howtobox
{
  width: 800px;
  background-color: rgb(155, 237, 180);
  border-radius: 20px;
  border: 10px solid black;
  padding: 30px;
  margin: 50px auto;
}
#howtobox h1,h2,h3,h4
{
  margin-top: 50px;
  text-align: center;
}
a
{
  color: #4400BB;
  transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
a:visited
{
  color: #4400BB;
}
a:hover
{
  color: #7700EE;
}
.home-button-holder
{
  text-align: center;
  width: 100%;
}
.home-button
{
  padding: 5px 15px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  width: 90px;
  height: 40px;
  display: inline-block;
}

.home-button:hover
{
  background-color: #CCCCCC;
}
