#navbar
{
  margin: -25px -20px;
  width: 102%;
  display: table-row;
  background-color: rgb(155, 237, 180);
}
#nav-tweak
{
  padding: 0px 0px 0px 15px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#tree-info
{
  padding-left: 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#tree-info h3
{
  font-size: 16px;
  margin: 0px;
}
#tree-info p
{
  font-size: 12px;
  margin: 0px;
}
#tree-settings
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
}
.button-and-dropdown
{
  height: 100%;
  width: 120px;
  margin: 0px 6px;
}
.button-and-dropdown ul
{
  visibility: hidden;
  padding-inline-start: 0px;
  margin: 0px;
  background-color: rgb(200,200,200);
  width: 100%;
}
.button-and-dropdown ul li
{
  list-style: none;
  background-color: rgb(230,230,230);
  width: 150%;
  height: 40px;
  text-align: center;
  position: relative;
}
.button-and-dropdown ul li:hover
{
  background-color: rgb(155, 237, 180);
}
.button-and-dropdown ul li p
{
  position: absolute;
  margin: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#tree-settings .button-and-dropdown button
{
  font-family: Dustismo, sans-serif;
  background-color: rgb(155, 237, 180);
  font-size: 20px;
  border: 0px;
  height: 100%;
  width: 100%;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
#tree-settings .button-and-dropdown button:hover
{
  background-color: rgb(60, 179, 97);
}
#tree-settings .button-and-dropdown button[disabled]:hover
{
  background-color: rgb(155, 237, 180);
}
